@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metrophobic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "Nunito Sans", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --textColor: #214842;
    --teamColor: #F7941D;
}

.main-wrapper {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.login-left {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo img {
    height: 40px;
    margin-bottom: 20px;
}

.login-left h5 {
    font-weight: 600;
}

.form-label {
    font-size: 14px;
    margin-bottom: 4px;
}

.form-control {
    height: 45px;
    font-size: 14px;
}

.btn-login {
    background-color: var(--teamColor);
    color: white;
    font-weight: 500;
    border-radius: 6px;
    height: 45px;
}

.btn-login:hover {
    background-color: var(--teamColor);
}

.text-orange {
    color: var(--teamColor);
}

.text-orange:hover {
    color: var(--teamColor);
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.login-right {
    flex: 1;
    background: url('images/login/banner-img.webp') no-repeat center center;
    background-size: cover;
}

@media (max-width: 990px) {
    .login-left {
        width: 100%;
        max-width: 400px;
        background: #fff;
        padding: 40px;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column;
    }

    .logo img {
        height: 40px;
        margin-left: -10px;
    }

    .login-right {
        height: 300px;
    }
}